.cellTableOddRowCell, .cellTableEvenRowCell {
	border: 0px;
	border-bottom: 1px solid #d4d4d4;
	background-color: #e1e1e1;
}

.cellTableHoveredRow .cellTableOddRowCell, .cellTableHoveredRow .cellTableEvenRowCell {
	background-color: #b5c5d7;
}

.cellTableHeader {
    display: none;
}

.cellTableWidget {
	padding-left: 2px;
	padding-right: 2px;
}

.cellTableSelectedRowCell, .cellTableSelectedRow, .cellTableHoveredRow .cellTableSelectedRowCell {
	background-color: #3a5f7c;
	font-size: 14px;
	font-family: Arial,sans-serif;
	font-weight: bold;
	color: black;
}

