@external obrand_mainBarPanel;
.obrand_mainBarPanel {
}

.mainContentPanel {
    overflow-y: auto;
    position: absolute !important;
    top: 33px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.detailsContentPanel {
    padding-left: 2px;
    padding-right: 2px;
}
