<?xml version="1.0" encoding="UTF-8"?>

<module xmlns="urn:jboss:module:1.1" name="org.ovirt.engine.core.logger">

  <resources>
    <resource-root path="logger.jar"/>
  </resources>

  <dependencies>
    <module name="org.ovirt.engine.core.extensions-manager"/>
    <module name="org.ovirt.engine.core.utils"/>
    <module name="org.ovirt.engine.api.ovirt-engine-extensions-api"/>
  </dependencies>

</module>
