<?xml version="1.0" encoding="UTF-8"?>

<!-- This version of the JAXB implementation replaces the default
     version 2.2.4 provided by JBoss AS 7.1.1, and is needed to avoid
     the following bug:

     https://java.net/jira/browse/JAXB-860

     It can be removed once we update to WildFly 8, as it uses
     version 2.2.5, where the bug is fixed. -->

<module xmlns="urn:jboss:module:1.1" name="com.sun.xml.bind">

  <resources>
    <resource-root path="jaxb-core.jar"/>
    <resource-root path="jaxb-impl.jar"/>
    <resource-root path="jaxb-xjc.jar"/>
  </resources>

  <dependencies>
    <module name="javax.api" />
    <module name="javax.xml.bind.api" />
    <module name="javax.xml.stream.api" />
  </dependencies>

</module>
