<?xml version="1.0" encoding="UTF-8"?>

<module xmlns="urn:jboss:module:1.1" name="com.netflix.config">

    <resources>
        <resource-root path="archaius-core.jar"/>
    </resources>

    <dependencies>
        <module name="org.slf4j"/>
        <module name="org.apache.commons.configuration"/>
    </dependencies>

</module>
