<?xml version="1.0" encoding="UTF-8"?>

<web-app
  xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0">

  <!-- Find (or guess) and send the content of the web-conf.js file: -->
  <servlet>
    <servlet-name>web-conf.js</servlet-name>
    <servlet-class>org.ovirt.engine.core.WebConfServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>web-conf.js</servlet-name>
    <url-pattern>/web-conf.js</url-pattern>
  </servlet-mapping>

  <!-- File servlet instance to serve the CA certificate: -->
  <servlet>
    <servlet-name>ca.crt</servlet-name>
    <servlet-class>org.ovirt.engine.core.FileServlet</servlet-class>
    <init-param>
      <param-name>type</param-name>
      <param-value>application/x-x509-ca-cert</param-value>
    </init-param>
    <init-param>
      <param-name>file</param-name>
      <param-value>/etc/pki/ovirt-engine/ca.pem</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ca.crt</servlet-name>
    <url-pattern>/ca.crt</url-pattern>
  </servlet-mapping>

  <!-- File servlet instance to serve the engine SSH public key: -->
  <servlet>
    <servlet-name>engine.ssh.key.txt</servlet-name>
    <servlet-class>org.ovirt.engine.core.FileServlet</servlet-class>
    <init-param>
      <param-name>type</param-name>
      <param-value>text/plain</param-value>
    </init-param>
    <init-param>
      <param-name>file</param-name>
      <param-value>/etc/pki/ovirt-engine/keys/engine.ssh.key.txt</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>engine.ssh.key.txt</servlet-name>
    <url-pattern>/engine.ssh.key.txt</url-pattern>
    <url-pattern>/rhevm.ssh.key.txt</url-pattern>
  </servlet-mapping>

  <!-- deployUtil.py -->
  <servlet>
    <servlet-name>deployUtil.py</servlet-name>
    <servlet-class>org.ovirt.engine.core.FileServlet</servlet-class>
    <init-param>
      <param-name>type</param-name>
      <param-value>text/plain</param-value>
    </init-param>
    <init-param>
      <param-name>file</param-name>
      <param-value>/usr/share/vdsm-bootstrap/deployUtil.py</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>deployUtil.py</servlet-name>
    <url-pattern>/Components/vds/deployUtil.py</url-pattern>
  </servlet-mapping>

  <!-- vds_bootstrap.py -->
  <servlet>
    <servlet-name>vds_bootstrap.py</servlet-name>
    <servlet-class>org.ovirt.engine.core.FileServlet</servlet-class>
    <init-param>
      <param-name>type</param-name>
      <param-value>text/plain</param-value>
    </init-param>
    <init-param>
      <param-name>file</param-name>
      <param-value>/usr/share/vdsm-bootstrap/vds_bootstrap.py</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>vds_bootstrap.py</servlet-name>
    <url-pattern>/Components/vds/vds_bootstrap.py</url-pattern>
  </servlet-mapping>

  <!-- vds_bootstrap_complete.py -->
  <servlet>
    <servlet-name>vds_bootstrap_complete.py</servlet-name>
    <servlet-class>org.ovirt.engine.core.FileServlet</servlet-class>
    <init-param>
      <param-name>type</param-name>
      <param-value>text/plain</param-value>
    </init-param>
    <init-param>
      <param-name>file</param-name>
      <param-value>/usr/share/vdsm-bootstrap/vds_bootstrap_complete.py</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>vds_bootstrap_complete.py</servlet-name>
    <url-pattern>/Components/vds/vds_bootstrap_complete.py</url-pattern>
  </servlet-mapping>

  <!-- Documentation: -->
  <servlet>
    <servlet-name>docs</servlet-name>
    <servlet-class>org.ovirt.engine.core.FileServlet</servlet-class>
    <init-param>
      <param-name>file</param-name>
      <param-value>/usr/share/ovirt-engine/docs</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>docs</servlet-name>
    <url-pattern>/docs/*</url-pattern>
  </servlet-mapping>

  <!-- SpiceX.cab -->
  <servlet>
    <servlet-name>SpiceX.cab</servlet-name>
    <servlet-class>org.ovirt.engine.core.FileServlet</servlet-class>
    <init-param>
      <param-name>type</param-name>
      <param-value>application/octet-stream</param-value>
    </init-param>
    <init-param>
      <param-name>file</param-name>
      <param-value>/usr/share/spice/SpiceX.cab</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>SpiceX.cab</servlet-name>
    <url-pattern>/spice/SpiceX.cab</url-pattern>
  </servlet-mapping>

  <!-- SpiceVersion.txt -->
  <servlet>
    <servlet-name>SpiceVersion.txt</servlet-name>
    <servlet-class>org.ovirt.engine.core.FileServlet</servlet-class>
    <init-param>
      <param-name>type</param-name>
      <param-value>text/plain</param-value>
    </init-param>
    <init-param>
      <param-name>file</param-name>
      <param-value>/usr/share/spice/SpiceVersion.txt</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>SpiceVersion.txt</servlet-name>
    <url-pattern>/spice/SpiceVersion.txt</url-pattern>
  </servlet-mapping>

  <!-- SpiceX_x64.cab -->
  <servlet>
    <servlet-name>SpiceX_x64.cab</servlet-name>
    <servlet-class>org.ovirt.engine.core.FileServlet</servlet-class>
    <init-param>
      <param-name>type</param-name>
      <param-value>application/octet-stream</param-value>
    </init-param>
    <init-param>
      <param-name>file</param-name>
      <param-value>/usr/share/spice/SpiceX_x64.cab</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>SpiceX_x64.cab</servlet-name>
    <url-pattern>/spice/SpiceX_x64.cab</url-pattern>
  </servlet-mapping>

  <!-- SpiceVersion_x64.txt -->
  <servlet>
    <servlet-name>SpiceVersion_x64.txt</servlet-name>
    <servlet-class>org.ovirt.engine.core.FileServlet</servlet-class>
    <init-param>
      <param-name>type</param-name>
      <param-value>text/plain</param-value>
    </init-param>
    <init-param>
      <param-name>file</param-name>
      <param-value>/usr/share/spice/SpiceVersion_x64.txt</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>SpiceVersion_x64.txt</servlet-name>
    <url-pattern>/spice/SpiceVersion_x64.txt</url-pattern>
  </servlet-mapping>

  <!-- USB filter: -->
  <servlet>
    <servlet-name>usbfilter.txt</servlet-name>
    <servlet-class>org.ovirt.engine.core.FileServlet</servlet-class>
    <init-param>
      <param-name>type</param-name>
      <param-value>text/plain</param-value>
    </init-param>
    <init-param>
      <param-name>file</param-name>
      <param-value>/etc/ovirt-engine/usbfilter.txt</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>usbfilter.txt</servlet-name>
    <url-pattern>/spice/usbfilter.txt</url-pattern>
  </servlet-mapping>

  <!-- Go to the index when a page is not found (preserving the
       404 status code): -->
  <error-page>
    <error-code>404</error-code>
    <location>/index.html</location>
  </error-page>

</web-app>
