<?xml version='1.0' encoding='utf-8' ?>
<!DOCTYPE chapter PUBLIC "-//OASIS//DTD DocBook XML V4.5//EN" "http://www.oasis-open.org/docbook/xml/4.5/docbookx.dtd" [
<!ENTITY % BOOK_ENTITIES SYSTEM "REST_API_Guide.ent">
%BOOK_ENTITIES;
]>
<chapter id="chap-REST_API_Guide-Events">
  <title>Events</title>
  <para>
    The <literal>rel="events"</literal> link obtained from the entry point URI accesses the <literal>events</literal> collection and lists system events from Red Hat Enterprise Virtualisation Manager.
  </para>
  <informaltable frame="none">
    <tgroup cols="3">
      <colspec colwidth="3*"/>
      <colspec colwidth="2*"/>      
      <colspec colwidth="5*"/>
      <thead>
        <row>
          <entry>Element</entry>
          <entry>Type</entry>
          <entry>Description</entry>
        </row>
      </thead>
      <tbody>
        <row>
          <entry><literal>description</literal></entry>
          <entry>string</entry>          
          <entry>A description of the system event</entry>
        </row>
        <row>
          <entry><literal>code</literal></entry>
          <entry>integer</entry>
          <entry>The integer event code. See <xref linkend="appe-REST_API_Guide-Event_Codes"/> for a full list of event codes with descriptions.</entry>
        </row>
        <row>
          <entry><literal>severity</literal></entry>
          <entry> One of <literal>NORMAL</literal>, <literal>WARNING</literal>, <literal>ERROR</literal> or <literal>ALERT</literal></entry>          
          <entry>The level of severity for the event</entry>
        </row>
        <row>
          <entry><literal>time</literal></entry>
          <entry><literal>xsd:dateTime</literal> format: <literal>YYYY-MM-DDThh:mm:ss</literal></entry>
          <entry>The timestamp indicating when the event happened</entry>
        </row>
        <row>
          <entry><literal>user id</literal></entry>
          <entry>GUID</entry>
          <entry>The identification code for the user who triggered the event</entry>
        </row>
      </tbody>
    </tgroup>
  </informaltable>
  <example>
    <title>An XML representation of the events collection</title>
    <screen>
&lt;events&gt;
    &lt;event id="537" href="/restapi-definition/events/537"&gt;
        &lt;description&gt;User vdcadmin logged in.&lt;/description&gt;
        &lt;code&gt;30&lt;/code&gt;
        &lt;severity&gt;NORMAL&lt;/severity&gt;
        &lt;time&gt;2011-01-12T10:48:27.827+02:00&lt;/time&gt;
        &lt;user id="9b9002d1-ec33-4083-8a7b-31f6b8931648"
          href="/restapi-definition/users/9b9002d1-ec33-4083-8a7b-31f6b8931648"/&gt;
    &lt;/event&gt;
    ...
&lt;/events&gt;
    </screen>
  </example>
  <para>
    In addition to <literal>user</literal>, an <literal>event</literal> representation also contains a set of XML element relationships to resources relevant to the event.
  </para>
  <example>
    <title>An XML representation of a virtual machine creation event</title>
    <screen>
&lt;event id="635" href="/restapi-definition/events/635"&gt;
    &lt;description&gt;VM bar was created by rhevadmin.&lt;/description&gt;
    &lt;code&gt;34&lt;/code&gt;
    &lt;severity&gt;NORMAL&lt;/severity&gt;
    &lt;time&gt;2011-07-11T16:32:03.172+02:00&lt;/time&gt;
    &lt;user id="4621b611-43eb-4d2b-ae5f-1180850268c4"
      href="/restapi-definition/users/4621b611-43eb-4d2b-ae5f-1180850268c4"/&gt;
    &lt;vm id="9b22d423-e16b-4dd8-9c06-c8e9358fbc66"
      href="/restapi-definition/vms/9b22d423-e16b-4dd8-9c06-c8e9358fbc66"/&gt;
    &lt;storage_domain id="a8a0e93d-c570-45ab-9cd6-3c68ab31221f"
      href="/restapi-definition/storagedomains/a8a0e93d-c570-45ab-9cd6-3c68ab31221f"/&gt;
&lt;/event&gt;
    </screen>
    <para>
      This example representation provides XML element relationships to a virtual machine resource and a storage domain resource.
    </para>
  </example>
  <note>
    <para>The <literal>events</literal> collection is read-only.</para>
  </note>
</chapter>
