<web-app xmlns="http://java.sun.com/xml/ns/javaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
   version="2.5">

        <!-- Name the application -->
        <display-name>oVirt Components site</display-name>
        <description>oVirt Components site</description>

        <!-- Set timeout to 120 minutes -->
        <session-config>
                <session-timeout>120</session-timeout>
        </session-config>

        <!-- Define, in order of preference, which file to show when no filename is defined in the path -->
        <!-- eg: when user goes to http://yoursite.com/ or http://yoursite.com/somefolder -->
        <!-- Defaults are provided in the server-wide web.xml file, such as index.jsp, index.htm -->
        <!-- Note: using this tag overrides the defaults, so don't forget to add them here -->
        <welcome-file-list>
                <!-- Use index.swf if present, or splash.jsp, otherwise just look for the normal defaults -->
                <welcome-file>index.swf</welcome-file>
                <welcome-file>splash.jsp</welcome-file>
                <welcome-file>index.html</welcome-file>
                <welcome-file>index.htm</welcome-file>
                <welcome-file>index.jsp</welcome-file>
        </welcome-file-list>

<mime-mapping>

	<extension>xaml</extension>
    <mime-type>application/xaml+xml</mime-type>

</mime-mapping>

<mime-mapping>
	<extension>xap</extension>
    <mime-type>application/x-silverlight-app</mime-type>
</mime-mapping>

<mime-mapping>
	<extension>xbap</extension>
    <mime-type>application/x-ms-xbap</mime-type>
</mime-mapping>

<mime-mapping>
	<extension>crt</extension>
	<mime-type>application/x-x509-ca-cert</mime-type>
</mime-mapping>

  <welcome-file-list>
	<welcome-file>index.html</welcome-file>
</welcome-file-list>


</web-app>
