# See github docs for more info on the syntax:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default to all maintainers if nothing more specific matches
*    @ahadas @bennyz @emesika @mwperina @michalskrivanek @sgratch @smelamud @didib

packaging/dbscripts/    @emesika @mwperina
*Dao*.java              @emesika @mwperina

backend/manager/modules/**/org/ovirt/engine/core/bll/pm/    @emesika @mwperina

**/*network*   @almusil

backend/manager/modules/**/org/ovirt/engine/core/*/hostdeploy/   @mwperina
backend/manager/modules/**/org/ovirt/engine/core/bll/host/       @mwperina

backend/manager/modules/**/org/ovirt/engine/core/*/job/          @mwperina

backend/manager/modules/**/org/ovirt/engine/core/bll/storage/    @bennyz @ahadas
backend/manager/modules/**/org/ovirt/engine/core/bll/snapshots/  @bennyz @ahadas
backend/manager/modules/**/org/ovirt/engine/core/common/businessentities/storage/  @bennyz @ahadas
backend/manager/modules/**/org/ovirt/engine/core/bll/validator/storage/            @bennyz @ahadas

**/*vms*    @ahadas @smelamud

restapi/    @mwperina

ovirt-engine.spec.in    @didib @sandrobonazzola @mwperina

Makefile                @didib @sandrobonazzola @mwperina

packaging/setup    @didib @sandrobonazzola

pom.xml    @mwperina

packaging/ansible-runner-service-project/    @mwperina

frontend    @sgratch
