.selectedFlexTableCell {
    background-color : #E6E6FA;
    width: 25px;
    border: 1px solid black;
}

.normalFlexTableCell {
    background-color: white;
    width: 25px;
    border: 1px solid black;
}

.daysOfMonthWidget {
    border: 2px solid black;
}