@external gwt-DialogBox .dialogTopLeft;
@external gwt-DialogBox .dialogTopCenter;
@external gwt-DialogBox .dialogTopRight;

@external gwt-DialogBox .dialogMiddleLeft;
@external gwt-DialogBox .dialogMiddleCenter;
@external gwt-DialogBox .dialogMiddleRight;

@external gwt-DialogBox .dialogBottomLeft;
@external gwt-DialogBox .dialogBottomCenter;
@external gwt-DialogBox .dialogBottomRight;

@external gwt-DialogBox .dialogTop;
@external gwt-DialogBox .dialogTopCenterInner;
@external gwt-DialogBox .Caption;

@external generalDialogComment;

.gwt-DialogBox .dialogTopLeft,
.gwt-DialogBox .dialogTopRight {
    width: 14px;
    height: 20px;
}

.gwt-DialogBox .dialogBottomLeft,
.gwt-DialogBox .dialogBottomRight {
    width: 14px;
    height: 14px;
}

.gwt-DialogBox .dialogTop,
.gwt-DialogBox .dialogTopCenter,
.gwt-DialogBox .dialogTopCenterInner {
    height: 20px;
}

.gwt-DialogBox .dialogMiddleCenter {
    background-color: #FFFFFF;
}

.gwt-DialogBox .Caption {
    background: transparent;
    position: relative;
    border: 0px;
    height: 36px;
    z-index: 1;
}

.generalDialogComment {
    color: #555555;
    font-style: italic;
    font-size: 13px;
    font-family: Verdana, sans-serif;
}