@def selectionBorderWidth 2px;
.dataGridWidget {

}

.dataGridFirstColumn {

}

.dataGridLastColumn {

}

.dataGridFooter {
  border-top: 2px solid #6f7277;
  padding: 3px 15px;
  text-align: left;
  color: #4b4a4a;
  text-shadow: #ddf 1px 1px 0;
  overflow: hidden;
}

.dataGridHeader {
	border-top: 1px solid #E3EDF6;
	border-bottom: 1px solid #E3EDF6;
	border-left: 1px solid #D7D7E1;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 5px;
	padding-right: 5px;
	text-align: left;
	color: #111111;
	font-size: 11px;
	background-color: #fbfbfb;
	height: 28px;
	white-space: nowrap;
}

.dataGridCell {
  padding: 2px 15px;
  overflow: hidden;
}

.dataGridFirstColumnFooter {

}

.dataGridFirstColumnHeader {

}

.dataGridLastColumnFooter {

}

.dataGridLastColumnHeader {

}

.dataGridSortableHeader {
  cursor: pointer;
}

.dataGridSortableHeader:hover {
  color: #6c6b6b;
}

.dataGridSortedHeaderAscending {

}

.dataGridSortedHeaderDescending {

}

.dataGridEvenRow {
  background: #ffffff;
}

.dataGridEvenRowCell {
  border: selectionBorderWidth solid #ffffff;
}

.dataGridOddRow {
  background: #f3f7fb;
}

.dataGridOddRowCell {
  border: selectionBorderWidth solid #f3f7fb;
}

.dataGridHoveredRow {
  background: #eee;
}

.dataGridHoveredRowCell {
  border: selectionBorderWidth solid #eee;
}

.dataGridKeyboardSelectedRow {
  background: #ffc;
}

.dataGridKeyboardSelectedRowCell {
  border: selectionBorderWidth solid #ffc;
}

.dataGridSelectedRow {
  background: #628cd5;
  color: white;
  height: auto;
  overflow: auto;
}

.dataGridSelectedRowCell {
  border: selectionBorderWidth solid #628cd5;
}

/**
 * The keyboard selected cell is visible over selection.
 */
.dataGridKeyboardSelectedCell {
  border: selectionBorderWidth solid #d7dde8;
}
