.dataGridWidget {
    width: 100%;
}

.dataGridFirstColumn {
    padding: 2px 0;
}

.dataGridLastColumn {
}

.dataGridFooter {
}

.dataGridHeader {
    border-top: 1px solid #E3EDF6;
    border-bottom: 1px solid #E3EDF6;
    border-left: 1px solid #D7D7E1;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 5px;
    padding-right: 5px;
    text-align: left;
    color: grey;
    font-size: 11px;
    background-color: #F9F9F9;
    white-space: normal;
    overflow: auto;
}

.dataGridCell {
    padding: 0 3px;
    height: 24px !important;
    border-top: 0;
    border-bottom: 1px solid #EDEEF0;
    border-right: 0;
    border-left: 0;
    white-space: normal;
    cursor: pointer;
}

.dataGridEvenRow {
    background-color: transparent;
}

.dataGridOddRow {
    background-color: transparent;
}

.dataGridHoveredRow {
    background-color: transparent;
}

.dataGridSelectedRow {
    background-color: transparent;
    color: black;
    overflow: auto;
}
