.dataGridWidget {
    margin-left: 2px;
    width: 99% !important;
}

.dataGridWidget > div {
    top: 0 !important;
    min-height: 0 !important;
}

.dataGridFirstColumn {
}

.dataGridLastColumn {
}

.dataGridFooter {
}

.dataGridHeader {
	display: none;
}

.dataGridCell {
	padding: 0px;
	margin: 0px;
	height: 24px !important;
	border: 0px;
	white-space: normal;
	cursor: pointer;
}

.dataGridEvenRow {
	background-color: transparent;
	color: grey;
}

.dataGridOddRow {
	background-color: transparent;
	color: grey;
}

.dataGridHoveredRow {
	background-color: transparent;
	color: grey;
}

.dataGridSelectedRow {
	background-color: transparent;
	color: black;
	overflow: auto;
}
