.cellTableWidget {
    margin-left: 2px;
    width: 99% !important;
}

.cellTableFirstColumn {
}

.cellTableLastColumn {
	
}

.cellTableFooter {
}

.cellTableHeader {
	display: none;
}

.cellTableCell {
	padding: 0px;
	margin: 0px;
	height: 24px !important;
	border: 0px;
	white-space: normal;
	cursor: pointer;
}

.cellTableEvenRow {
	background-color: transparent;
	color: grey;
}

.cellTableOddRow {
	background-color: transparent;
	color: grey;
}

.cellTableHoveredRow {
	background-color: transparent;
	color: grey;
}

.cellTableSelectedRow {
	background-color: transparent;
	color: black;
	overflow: auto;
}

@sprite .cellTableLoading {
	gwt-image: 'cellTableLoading';
	margin: 3px;
}