<?xml version="1.0" encoding="UTF-8"?>

<module xmlns="urn:jboss:module:1.1" name="org.ovirt.engine.core.searchbackend">

  <resources>
    <resource-root path="searchbackend.jar"/>
  </resources>

  <dependencies>
    <module name="javax.api"/>
    <module name="org.ovirt.engine.core.common"/>
    <module name="org.ovirt.engine.core.compat"/>
    <module name="org.ovirt.engine.core.utils"/>
    <module name="org.slf4j"/>
  </dependencies>

</module>
