<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

	<display-name>oVirt WebAdmin UI</display-name>

	<servlet>
		<servlet-name>org.ovirt.engine.ui.frontend.WebAdmin GenericApiGWTService</servlet-name>
		<servlet-class>org.ovirt.engine.ui.frontend.server.gwt.GenericApiGWTServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>org.ovirt.engine.ui.frontend.WebAdmin GenericApiGWTService</servlet-name>
		<url-pattern>/webadmin/GenericApiGWTService</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>WebAdminDynamicHosting</servlet-name>
		<servlet-class>org.ovirt.engine.ui.frontend.server.gwt.WebadminDynamicHostingServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>WebAdminDynamicHosting</servlet-name>
		<url-pattern>/webadmin/WebAdmin.html</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PluginResourceServlet</servlet-name>
		<servlet-class>org.ovirt.engine.ui.frontend.server.gwt.plugin.PluginResourceServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>PluginResourceServlet</servlet-name>
		<url-pattern>/webadmin/plugin/*</url-pattern>
	</servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<!-- Error page to present -->
	<error-page>
		<error-code>404</error-code>
		<location>/404.html</location>
	</error-page>

	<!-- confidentiality -->
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>everything</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<user-data-constraint>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>

</web-app>
