<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">

	<display-name>oVirt WebAdmin UI</display-name>

    <!-- Filters -->
    <filter-mapping>
      <filter-name>LocaleFilter</filter-name>
      <url-pattern>/webadmin/*</url-pattern>
      <dispatcher>REQUEST</dispatcher>
    </filter-mapping>

    <filter-mapping>
        <filter-name>LocaleFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>

    <filter-mapping>
        <filter-name>BrandingFilter</filter-name>
        <url-pattern>/webadmin/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>

    <filter-mapping>
        <filter-name>BrandingFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>

	<filter-mapping>
		<filter-name>GwtCachingFilter</filter-name>
		<url-pattern>/webadmin/*</url-pattern>
		<url-pattern>/theme/*</url-pattern>
	</filter-mapping>

	<servlet-mapping>
		<servlet-name>WebAdminHostPageServlet</servlet-name>
		<url-pattern>/webadmin/WebAdmin.html</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>GenericApiServlet</servlet-name>
		<url-pattern>/webadmin/GenericApiGWTService</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>PluginResourceServlet</servlet-name>
		<url-pattern>/webadmin/plugin/*</url-pattern>
	</servlet-mapping>

    <servlet-mapping>
        <servlet-name>BrandingServlet</servlet-name>
        <url-pattern>/theme/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PageNotFoundServlet</servlet-name>
        <url-pattern>/404.html</url-pattern>
    </servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<!-- Error page to present -->
	<error-page>
		<error-code>404</error-code>
		<location>/404.html</location>
	</error-page>

	<!-- Confidentiality -->
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>everything</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<user-data-constraint>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>

</web-app>
