<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <display-name>oVirt WebAdmin UI</display-name>

    <!-- Application with context parameters -->
    <context-param>
        <param-name>obrandThemePath</param-name>
        <param-value>/theme</param-value>
    </context-param>
    <context-param>
        <param-name>obrandResourcePath</param-name>
        <param-value>/theme-resource</param-value>
    </context-param>
    <context-param>
        <param-name>applicationName</param-name>
        <param-value>webadmin</param-value>
    </context-param>
    <context-param>
        <param-name>contextToRootModifier</param-name>
        <param-value>..</param-value>
    </context-param>
    <context-param>
        <param-name>post-action-url</param-name>
        <param-value>/ovirt-engine/webadmin/sso/oauth2-callback</param-value>
    </context-param>
    <context-param>
        <param-name>auth-seq-priority-property-name</param-name>
        <param-value>ENGINE_SSO_AUTH_SEQUENCE_webadmin</param-value>
    </context-param>
    <context-param>
        <param-name>app-scope</param-name>
        <param-value>ovirt-app-admin</param-value>
    </context-param>

    <filter-mapping>
        <filter-name>LocaleFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>

    <filter>
        <filter-name>SsoLoginFilter</filter-name>
        <filter-class>org.ovirt.engine.core.aaa.filters.SsoLoginFilter</filter-class>
        <init-param>
            <param-name>login-url</param-name>
            <param-value>/sso/login?</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>SsoLoginFilter</filter-name>
        <url-pattern>/WebAdmin.html</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SsoLoginFilter</filter-name>
        <url-pattern>/dashboard_data</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>BrandingFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>

    <filter>
        <filter-name>CachingFilter</filter-name>
        <filter-class>org.ovirt.engine.core.utils.servlet.CachingFilter</filter-class>

        <!-- Resources intended to be cached forever on the client: -->
        <!-- * anything with '.cache.' in the name: -->
        <!--   * module permutations: <md5>.cache.html -->
        <!--   * ClientBundle composite images: <md5>.cache.png | <md5>.cache.gif -->
        <!--   * split points: deferredjs/<md5>/<n>.cache.js -->
        <!-- * all brand assets: **/theme/*, **/theme-resource/* -->
        <!-- * CSS, PNG/GIF/favicon, JS, TTF, WOFF, WOFF2 image files (usually served from brands but could be served elsewhere) -->
        <init-param>
            <param-name>cache</param-name>
            <param-value>.*\.cache\..*|.*\/theme(-resource)?\/.*|.*\.(css|gif|png|favicon|js|ttf|woff|woff2)(\?.*)?</param-value>
        </init-param>

        <!-- Resources which always need to be checked for changes: -->
        <!-- * application host page: WebAdmin.html -->
        <!-- * anything with '.nocache.' in the name, e.g. permutation selector script: <applicationName>.nocache.js -->
        <!-- * UI plugin static resources: */plugin/* -->
        <init-param>
            <param-name>no-cache</param-name>
            <param-value>.*WebAdmin\.html|.*\.nocache\..*|.*\/plugin\/.*</param-value>
        </init-param>

        <!-- Resources not intended to be cached on the client at all: -->
        <!-- * RPC calls to Generic API -->
        <init-param>
            <param-name>no-store</param-name>
            <param-value>.*GenericApiGWTService</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>CachingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>HeaderFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>org.ovirt.engine.core.aaa.servlet.SsoLoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/sso/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>org.ovirt.engine.core.aaa.servlet.SsoLogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/sso/logout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SsoPostLoginServlet</servlet-name>
        <servlet-class>org.ovirt.engine.core.aaa.servlet.SsoPostLoginServlet</servlet-class>
        <init-param>
            <param-name>login-as-admin</param-name>
            <param-value>true</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>SsoPostLoginServlet</servlet-name>
        <url-pattern>/sso/oauth2-callback</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>dashboardData</servlet-name>
        <servlet-class>org.ovirt.engine.ui.frontend.server.dashboard.DashboardDataServlet</servlet-class>
        <load-on-startup>100</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>dashboardData</servlet-name>
        <url-pattern>/dashboard_data</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>remoteLogging</servlet-name>
        <url-pattern>/remote_logging</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>WebAdminHostPageServlet</servlet-name>
        <url-pattern>/WebAdmin.html</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>GenericApiServlet</servlet-name>
        <url-pattern>/GenericApiGWTService</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>XsrfTokenServiceServlet</servlet-name>
        <url-pattern>/xsrf</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PluginResourceServlet</servlet-name>
        <url-pattern>/plugin/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>BrandingServlet</servlet-name>
        <url-pattern>/theme/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>BrandingCascadingResourceServlet</servlet-name>
        <url-pattern>/theme-resource/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PageNotFoundForwardServlet</servlet-name>
        <url-pattern>/404.html</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>MethodNotAllowedForwardServlet</servlet-name>
        <url-pattern>/405.html</url-pattern>
    </servlet-mapping>

    <!-- Default page to serve -->
    <welcome-file-list>
        <welcome-file>WebAdmin.html</welcome-file>
    </welcome-file-list>

    <!-- Error page to present -->
    <error-page>
        <error-code>404</error-code>
        <location>/404.html</location>
    </error-page>

    <error-page>
        <error-code>405</error-code>
        <location>/405.html</location>
    </error-page>

    <!-- Confidentiality -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>everything</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <session-config>
        <cookie-config>
            <http-only>true</http-only>
            <secure>false</secure>
        </cookie-config>
    </session-config>

</web-app>
