<?xml version="1.0"?>
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.2//EN" "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">
<module name="Checker">
  <module name="FileTabCharacter">
    <property name="eachLine" value="true"/>
  </module>
  <module name="NewlineAtEndOfFile">
    <property name="lineSeparator" value="lf"/>
  </module>
  <module name="RegexpSingleline">
    <!-- \s matches whitespace character, $ matches end of line. -->
    <property name="format" value="\s+$"/>
    <property name="message" value="Line has trailing spaces."/>
  </module>
  <module name="TreeWalker">
    <property name="cacheFile" value="${checkstyle.cache.file}"/>

    <!-- Built-in checks -->
    <module name="ArrayTypeStyle" />
    <module name="AtclauseOrder" />
    <module name="AvoidNestedBlocks"/>
    <module name="AvoidStarImport"/>
    <module name="EmptyBlock">
        <property name="option" value="text"/>
    </module>
    <module name="EmptyForInitializerPad" />
    <module name="EmptyStatement"/>
    <module name="EqualsHashCode"/>
    <module name="IllegalImport">
      <property name="illegalPkgs" value="com.sun, org.powermock"/>
    </module>
    <module name="ImportOrder">
      <property name="groups" value="java,javax,org,com"/>
      <property name="ordered" value="true"/>
      <property name="caseSensitive" value="true"/>
      <property name="option" value="top"/>
      <property name="sortStaticImportsAlphabetically" value="true"/>
    </module>
    <module name="IllegalInstantiation"/>
    <module name="LeftCurly"/>
    <module name="MethodName" />
    <module name="ModifierOrder" />
    <module name="MultipleVariableDeclarations" />
    <module name="NeedBraces" />
    <module name="NonEmptyAtclauseDescription" />
    <module name="NoWhitespaceBefore">
      <property name="tokens" value="SEMI"/>
    </module>
    <module name="OneStatementPerLine"/>
    <module name="RedundantImport"/>
    <module name="StringLiteralEquality"/>
    <module name="TypeName" />
    <module name="UnnecessaryParentheses"/>
    <module name="UnusedImports"/>
    <module name="UpperEll"/>
    <module name="UncommentedMain"/>
    <module name="WhitespaceAfter">
          <property name="tokens" value="COMMA"/>
    </module>

    <!-- oVirt checks -->
    <module name="org.ovirt.checkstyle.checks.DiamondOperator"/>
    <module name="org.ovirt.checkstyle.checks.NlsCheck">
      <property name="run" value="${runNlsCheck}" default="false"/>
    </module>
    <module name="org.ovirt.checkstyle.checks.NoArgConstructorCheck">
      <property name="run" value="${checkNoArgConstructor}" default="false"/>
    </module>
    <module name="org.ovirt.checkstyle.checks.NoFinalMemberCheck">
      <property name="run" value="${disallowFinals}" default="false"/>
    </module>
    <module name="org.ovirt.checkstyle.checks.NoMemberInitializationCheck">
      <property name="run" value="${disallowMemberInit}" default="false"/>
    </module>
  </module>
</module>
