<?xml version="1.0" encoding="UTF-8"?>

<module xmlns="urn:jboss:module:1.1" name="org.ovirt.engine.core.auth-plugin">

  <resources>
    <resource-root path="auth-plugin.jar"/>
  </resources>

  <dependencies>
    <module name="javax.api"/>
    <module name="org.ovirt.engine.core.aaa"/>
    <module name="org.ovirt.engine.core.common"/>
    <module name="org.jboss.as.domain-management"/>
  </dependencies>

</module>
