<?xml version="1.0" encoding="UTF-8"?>

<!--
     This module contains original jakarta-commons-logging over slf4j
     library. We need it to be able to use apache-commons libraries, which
     require commons-logging, in command line tools and notifier, which are
     executed outside running WildFly (WildFly contains reimplementation of
     commons-logging and slf4j which do not contain all features we need for
     execution outside WildFly).
  -->

<module xmlns="urn:jboss:module:1.3" name="org.slf4j.jcl-over-slf4j">
    <resources>
        <resource-root path="jcl-over-slf4j.jar"/>
    </resources>

    <dependencies>
        <module name="org.slf4j"/>
    </dependencies>
</module>
