<?xml version="1.0" encoding="UTF-8"?>

<module xmlns="urn:jboss:module:1.1" name="org.ovirt.engine.core.dal">

  <resources>
    <resource-root path="dal.jar"/>
  </resources>

  <dependencies>
    <module name="javax.annotation.api"/>
    <module name="javax.api"/>
    <module name="javax.enterprise.api"/>
    <module name="javax.inject.api"/>
    <module name="javax.transaction.api"/>
    <module name="org.apache.commons.collections"/>
    <module name="org.apache.commons.lang"/>
    <module name="org.infinispan"/>
    <module name="org.jboss.weld.core"/>
    <module name="org.jboss.weld.spi"/>
    <module name="org.ovirt.engine.core.common"/>
    <module name="org.ovirt.engine.core.compat"/>
    <module name="org.ovirt.engine.core.utils"/>
    <module name="org.ovirt.engine.core.uutils"/>
    <module name="org.slf4j"/>
    <module name="org.springframework"/>
    <module name="com.fasterxml.jackson.core.jackson-annotations"/>
    <module name="com.fasterxml.jackson.core.jackson-core"/>
    <module name="com.fasterxml.jackson.core.jackson-databind"/>
  </dependencies>

</module>
