<?xml version="1.0" encoding="UTF-8"?>

<module xmlns="urn:jboss:module:1.1" name="org.ovirt.engine.core.extensions-manager">

  <resources>
    <resource-root path="extensions-manager.jar"/>
  </resources>

  <dependencies>
    <module name="org.jboss.modules"/>
    <module name="org.ovirt.engine.api.ovirt-engine-extensions-api"/>
    <module name="org.slf4j"/>
  </dependencies>

</module>
