
/* LoginPopupView.ui.xml:
These classes allow you to modify the logo used in the login form. */
.obrand_loginFormLogoImage {
    background-image: url(images/ovirt_login_middle_logo.png);
    width: 440px;
    height: 35px !important;
    border: 0px;
    display: block;
}

/* SimpleDialogPanel:
These classes allow you to modify the header of all the popup windows
in the user portal and web admin. The border is defined in gwt-common.css */

/* left */
.obrand_dialogHeaderLeftPanel {
    position: absolute;
    left: 5px;
    width: 27px;
    line-height: 27px;
    background: url(images/dialog/dialog_header_TL.png);
}

/* center */
.obrand_dialogHeaderCenterPanel {
    position: absolute;
    background: url(images/dialog/dialog_header_background_repetitive.png) repeat-x;
    height: 27px;
    line-height: 27px;
    width: auto;
    left: 20px;
    right: 30px;
}

.obrand_dialogHeaderTitleContainer {
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    color: white;
    position: relative;
    height: 27px;
    overflow: hidden;
    margin-top: 0;
    left: -5px;
}

.obrand_dialogHeaderTitleElement {
    float: left;
    padding-right: 5px;
}

/* right */
.obrand_dialogHeaderRightPanel {
    background-image: url(images/dialog/dialog_header_TR.png);
    width: 27px;
    height: 27px;
    border: 0px;
    display: block;
}

.obrand_dialogHeaderRightPanelDecoration {
    /* hook for adding a decorative image to the far right of dialog headers. /*
    /* currently not used. */
}

/* SimpleDialogPanel.ui.xml:
This class allows you to change the default icon on popup windows.
Currently no icon for most windows. */
.obrand_dialogLogoImage {
    border: 0px;
}

/* ErrorPopupView.ui.xml:
This class allows you to change the error icon on the error popup window. */
.obrand_dialogLogoErrorImage {
    background: url(images/dialog/error.png);
    background-repeat: no-repeat;
    background-position: 3px 5px;
    width: 16px;
    height: 24px;
    border: 0px;
}

/* DialogTab.ui.xml:
This class allows you to change the active tab on the left of some of the
popup windows, for instance for creating a new VM */
.obrand_active {
    background-color: #82AA32;
    color: white;
    font-weight: bold;
    border: 1px solid #345B7A;
}

/* VmDiskPopupWidget.ui.xml */
.obrand_topPanel {
    background-color: #688B21;
}

.obrand_diskTypePanel {
    background-color: #82AA32;
}

/* LoginSectionView.ui.xml:
   app logo, positioned in the top right of login screen */
.obrand_loginPageLogoImage {
    background-image: url(images/ovirt_top_right_logo.png);
    width: 98px;
    height: 39px;
    border: 0px;
    display: block;
}

.obrand_loginPageLogoImageLink {
    display: block;
    float: right;
    margin-right: 64px;
    margin-top: 60px;
    margin-bottom: 70px;
    position: relative;
    text-align: center;
}

/* LoginSectionView.ui.xml:
   background image */
.obrand_background {
    height: 100%;
}

.obrand_background body {
    background-image: url(images/ovirt_bg.png);
    background-color: #282d33;
    background-size: auto;
    background-repeat: repeat-x;
    background-position: 50% 0;
}

@media (min-width: 768px) {
    .obrand_background body {
        background-size: 100% auto;
     }
}

/* HeaderView.ui.xml:
logo used in the application header */
.obrand_headerLogoImage {
    background-image: url(images/ovirt_top_logo.png);
    width: 264px;
    height: 15px !important;
    border: 0px;
    display: block;
}
