.login-pf {
    color: #fff;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.container {
    padding-top: 10px !important;
}

.label-default {
    background-color: inherit;
}

.login-link:hover, login-link:focus {
    color: #00618a;
    text-decoration: underline;
}

.login-link {
    color: #0099d3;
}

.login-error {
    color: #b94a48;
    background-color: inherit;
    border-color: #b94a48;
}

.login-message-error {
    color: #b94a48;
    background-color: inherit;
}

.welcome-title-wrapper {
    padding-bottom: 20px;
}

.welcome-title {
    font-size: 18px;
}

.version-text {
    margin-left: 30px;
    color: #bbb;
}

.welcome-section-title {
    padding-bottom: 7px;
    font-weight: 700;
    font-size: 14px;
}

.welcome-link {
    font-size: 14px;
}

.locale-div {
    padding-top: 20px;
}

#well-error {
    color: #b94a48;
    background-color: inherit;
    border-color: #b94a48;
}

#well-error-label {
    font-size: 14px;
    color: #b94a48;
    background-color: inherit;
}

#link-404 {
    font-size: 13px;
    display: block;
    margin-bottom: 75px;
}

.ovirt-container .container {
    background-color: rgba(0, 0, 0, 0.25);
    padding-left: 80px;
    width: 100%;
    clear: right;
    color: #fff;
    padding-bottom: 40px;
    position: absolute;
    bottom: 13%;
}

.ovirt-container select {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    color: black;
}

.ovirt-container #brand {
    position: relative;
    top: -70px;
}
