<?xml version="1.0" encoding="UTF-8"?>

<module xmlns="urn:jboss:module:1.1" name="com.woorea.openstack.sdk">

  <resources>
    <resource-root path="glance-client.jar"/>
    <resource-root path="glance-model.jar"/>
    <resource-root path="cinder-client.jar"/>
    <resource-root path="cinder-model.jar"/>
    <resource-root path="keystone-client.jar"/>
    <resource-root path="keystone-model.jar"/>
    <resource-root path="openstack-client.jar"/>
    <resource-root path="quantum-client.jar"/>
    <resource-root path="quantum-model.jar"/>
    <resource-root path="resteasy-connector.jar"/>
  </resources>

   <dependencies>
     <module name="javax.ws.rs.api"/>
     <module name="org.jboss.resteasy.resteasy-jaxrs"/>
     <module name="com.fasterxml.jackson.core.jackson-core"/>
     <module name="com.fasterxml.jackson.core.jackson-databind"/>
     <module name="com.fasterxml.jackson.core.jackson-annotations"/>
     <module name="com.fasterxml.jackson.jaxrs.jackson-jaxrs-json-provider"/>
   </dependencies>

</module>
