<?xml version="1.0" encoding="UTF-8"?>

<module xmlns="urn:jboss:module:1.1" name="org.apache.xmlrpc">

  <resources>
    <resource-root path="xmlrpc-common.jar"/>
    <resource-root path="xmlrpc-client.jar"/>
  </resources>

  <dependencies>
    <module name="javax.api"/>
    <module name="org.apache.ws.commons"/>
  </dependencies>

</module>
