<?xml version="1.0" encoding="UTF-8"?>

<module xmlns="urn:jboss:module:1.1" name="org.apache.sshd">

  <resources>
    <resource-root path="sshd-common.jar"/>
    <resource-root path="sshd-core.jar"/>
  </resources>

  <dependencies>
    <module name="javax.api"/>
    <module name="org.slf4j"/>
    <module name="net.i2p.crypto.eddsa"/>
  </dependencies>

</module>
