<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

 <!-- Log levels:DEBUG,INFO,WARN,ERROR,FATAL -->

   <!-- ============================== -->
   <!-- Append messages to the console -->
   <!-- ============================== -->

   <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
      <errorHandler class="org.apache.log4j.helpers..OnlyOnceErrorHandler"/>
      <param name="Target" value="System.out"/>
      <param name="Threshold" value="INFO"/>

      <layout class="org.apache.log4j.PatternLayout">
         <!-- The default pattern: Date Priority [Category] Message\n -->
         <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p [%c{1}] %m%n"/>
      </layout>
   </appender>

   <!-- ================ -->
   <!-- Limit categories -->
   <!-- ================ -->

   <!-- Limit the com.sun category to INFO as its FINE is verbose -->
   <category name="com.sun">
      <priority value="INFO"/>
   </category>

   <!-- Limit the sun category to INFO as its FINE is verbose -->
   <category name="sun">
      <priority value="INFO"/>
   </category>

   <!-- Limit the javax.xml.bind category to INFO as its FINE is verbose -->
   <category name="javax.xml.bind">
      <priority value="INFO"/>
   </category>

   <!-- Limit the org.springframework categories -->
   <category name="org.springframework">
      <priority value="WARN"/>
   </category>

   <!-- ======================= -->
   <!-- oVirt categories 	-->
   <!-- ======================= -->

   <!--TOP configuration for all oVirt categories -->
   <category name="org.ovirt.engine.core" additivity="false">
      <priority value="INFO"/>
   </category>

   <category name="org.ovirt.engine.core.utils.ejb.EJBUtilsStrategy" >
      <priority value="ERROR"/>
   </category>

   <!--Postgres causes lots of verboe messages in INFO level:
        "Added default SqlReturnResultSet parameter named #result-set-1"-->
   <category name="org.ovirt.engine.core.dal.dbbroker.PostgresDbEngineDialect$PostgresJdbcTemplate">
        <priority value="WARN"/>
   </category>

   <!-- ======================= -->
   <!-- Setup the Root category -->
   <!-- ======================= -->

   <root>
      <!--
         Set the root logger priority via a system property. Note this is parsed by log4j,
         so the full JBoss system property format is not supported; e.g.
         setting a default via ${jboss.server.log.threshold:WARN} will not work.
       -->
      <priority value="WARN"/>
   </root>


</log4j:configuration>
