<?xml version="1.0"?>

<web-app
  xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0">

  <!-- Disable entity expansion in RESTEasy: -->
  <context-param>
    <param-name>resteasy.document.expand.entity.references</param-name>
    <param-value>false</param-value>
  </context-param>

   <!-- <security-constraint>
      <web-resource-collection>
        <web-resource-name>Protected Context</web-resource-name>
        <description>Protected Context</description>
        <url-pattern>/*</url-pattern>
      </web-resource-collection>
      <user-data-constraint>
        <transport-guarantee>CONFIDENTIAL</transport-guarantee>
      </user-data-constraint>
   </security-constraint> -->

</web-app>
