<?xml version="1.0"?>
<!--
Copyright oVirt Authors
SPDX-License-Identifier: Apache-2.0
-->

<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">

    <context-param>
        <param-name>resteasy.media.type.param.mapping</param-name>
        <param-value>accept</param-value>
    </context-param>

    <filter>
        <filter-name>CORSSupport</filter-name>
        <filter-class>org.ovirt.engine.core.utils.servlet.CORSSupportFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CORSSupport</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>CSRFProtection</filter-name>
        <filter-class>org.ovirt.engine.api.restapi.security.CSRFProtectionFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CSRFProtection</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>RestApiSessionValidationFilter</filter-name>
        <filter-class>org.ovirt.engine.core.aaa.filters.RestApiSessionValidationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RestApiSessionValidationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>SessionValidationFilter</filter-name>
        <filter-class>org.ovirt.engine.core.aaa.filters.SessionValidationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SessionValidationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>SsoRestApiAuthFilter</filter-name>
        <filter-class>org.ovirt.engine.core.aaa.filters.SsoRestApiAuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SsoRestApiAuthFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>SsoRestApiNegotiationFilter</filter-name>
        <filter-class>org.ovirt.engine.core.aaa.filters.SsoRestApiNegotiationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SsoRestApiNegotiationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>EnforceAuthFilter</filter-name>
        <filter-class>org.ovirt.engine.core.aaa.filters.EnforceAuthFilter</filter-class>
        <!-- schemes parameter names should be in format of scheme.XXX Add
            an init-param per each scheme -->
        <init-param>
            <param-name>scheme.basic_auth</param-name>
            <param-value>Basic realm="RESTAPI"</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>EnforceAuthFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>RestApiSessionMgmtFilter</filter-name>
        <filter-class>org.ovirt.engine.core.aaa.filters.RestApiSessionMgmtFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RestApiSessionMgmtFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>CurrentFilter</filter-name>
        <filter-class>org.ovirt.engine.api.restapi.invocation.CurrentFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CurrentFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>VersionFilter</filter-name>
        <filter-class>org.ovirt.engine.api.restapi.invocation.VersionFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>VersionFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- This servlet will never be called because the version filter will always forward to "/v4", but
         without it the servlet container uses the 302 HTTP code to redirect "/ovirt-engine/api" to
         "/ovirt-engine/api/", and some clients (the SDKs) don't understand that. -->
    <servlet>
        <servlet-name>NullServlet</servlet-name>
        <servlet-class>org.ovirt.engine.api.restapi.NullServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NullServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <!-- The servlet that provides access to the model description: -->
    <servlet>
        <servlet-name>ModelServlet</servlet-name>
        <servlet-class>org.ovirt.api.metamodel.server.ModelServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ModelServlet</servlet-name>
        <url-pattern>/model</url-pattern>
        <url-pattern>/model.xml</url-pattern>
        <url-pattern>/model.json</url-pattern>
        <url-pattern>/model.jar</url-pattern>
        <url-pattern>/model.zip</url-pattern>
        <url-pattern>/model.html</url-pattern>
    </servlet-mapping>

    <!-- confidentiality -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>everything</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <session-config>
        <session-timeout>180</session-timeout>
        <cookie-config>
            <http-only>true</http-only>
            <secure>false</secure>
        </cookie-config>
    </session-config>

</web-app>
