<?xml version="1.0" encoding="UTF-8"?>

<module xmlns="urn:jboss:module:1.1" name="org.quartz">

  <resources>
    <resource-root path="quartz.jar"/>
  </resources>

  <dependencies>
    <module name="javax.api"/>
    <module name="org.slf4j"/>
    <module name="com.mchange.c3p0"/>
  </dependencies>

</module>
