<?xml version="1.0" encoding="UTF-8"?>

<!-- This module is already provided by JBoss AS, but we need to
     override it because that version doesn't include commons-jxpath
     as a dependency, but we need to add it, otherwise parsing
     of configuration files in engine-config doesn't work. -->

<module xmlns="urn:jboss:module:1.1" name="org.apache.commons.configuration">

  <resources>
    <resource-root path="commons-configuration.jar"/>
  </resources>

  <dependencies>
    <module name="javax.api"/>
    <module name="org.apache.commons.collections"/>
    <module name="org.apache.commons.lang"/>
    <module name="org.apache.commons.logging"/>

    <!-- This is what we need to add to the stock module provided by the
         application server: -->
    <module name="org.apache.commons.jxpath"/>
  </dependencies>

</module>
