<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">
   <!-- ============================== -->
   <!-- Append messages to the console -->
   <!-- ============================== -->

   <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
      <param name="Target" value="System.out"/>
      <param name="Threshold" value="INFO"/>

      <layout class="org.apache.log4j.PatternLayout">
         <!-- The default pattern: Date Priority [Category] Message\n -->
         <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p [%c{1}] %m%n"/>
      </layout>
   </appender>

   <!-- ================ -->
   <!-- Limit categories -->
   <!-- ================ -->


   <!-- Limit the org.apache category to INFO as its DEBUG is verbose -->
   <category name="org.apache">
      <priority value="INFO"/>
   </category>

   <!-- Limit the jacorb category to WARN as its INFO is verbose -->
   <category name="jacorb">
      <priority value="WARN"/>
   </category>

   <!-- Set the logging level of the JSF implementation that uses
      | java.util.logging. The jdk logging levels can be controlled
      | through the org.jboss.logging.log4j.JDKLevel class that
      | in addition to the standard log4j levels it adds support for
      | SEVERE, WARNING, CONFIG, FINE, FINER, FINEST
   -->
   <!-- Limit the org.jgroups category to WARN as its INFO is verbose -->
   <category name="org.jgroups">
      <priority value="WARN"/>
   </category>

   <!-- Limit the org.quartz category to INFO as its DEBUG is verbose -->
   <category name="org.quartz">
      <priority value="INFO"/>
   </category>

   <!-- Limit the com.sun category to INFO as its FINE is verbose -->
   <category name="com.sun">
      <priority value="INFO"/>
   </category>

   <!-- Limit the sun category to INFO as its FINE is verbose -->
   <category name="sun">
      <priority value="INFO"/>
   </category>

   <!-- Limit the javax.xml.bind category to INFO as its FINE is verbose -->
   <category name="javax.xml.bind">
      <priority value="INFO"/>
   </category>

   <!-- Limit the verbose facelets compiler -->
   <category name="facelets.compiler">
      <priority value="WARN"/>
   </category>

   <!-- Limit the verbose ajax4jsf cache initialization -->
   <category name="org.ajax4jsf.cache">
      <priority value="WARN"/>
   </category>

   <!-- Limit the verbose embedded jopr categories -->
   <category name="org.rhq">
      <priority value="WARN"/>
   </category>

   <!-- Limit the verbose MC4J EMS (lib used by admin-console) categories -->
   <category name="org.mc4j.ems">
      <priority value="WARN"/>
   </category>

   <!-- Limit the org.springframework categories -->
   <category name="org.springframework">
      <priority value="WARN"/>
   </category>

   <!--
      | An example of enabling the custom TRACE level priority that is used
      | by the JBoss internals to diagnose low level details. This example
      | turns on TRACE level msgs for the org.jboss.ejb.plugins package and its
      | subpackages. This will produce A LOT of logging output.
      |
      | Note: since jboss AS 4.2.x, the trace level is supported natively by
      | log4j, so although the custom org.jboss.logging.XLevel priority will
      | still work, there is no need to use it. The two examples that follow
      | will both enable trace logging.
   <category name="org.jboss.system">
     <priority value="TRACE" class="org.jboss.logging.XLevel"/>
   </category>
   <category name="org.jboss.ejb.plugins">
     <priority value="TRACE"/>
   </category>
   -->

   <!-- ======================= -->
   <!-- REVM categories 	-->
   <!-- ======================= -->

   <!--TOP configuration for all REVM categories -->
   <category name="org.ovirt.engine" additivity="false">
	<priority value="INFO"/>
	<appender-ref ref="CONSOLE"/>
   </category>

   <!--utils -->
   <category name="org.ovirt.engine.utils">
     <priority value="INFO"/>
   </category>

   <!--Common -->
   <category name="org.ovirt.engine.common">
     <priority value="INFO"/>
   </category>

   <!--Compact -->
   <category name="org.ovirt.engine.compact">
     <priority value="INFO"/>
   </category>

   <!--Encrypt utils-->
   <category name="org.ovirt.engine.utils.crypt">
     <priority value="INFO"/>
   </category>

   <!-- ======================= -->
   <!-- Third party categories 	-->
   <!-- ======================= -->

   <category name="org.apache.xmlrpc" additivity="false">
	<priority value="WARN"/>
	<appender-ref ref="CONSOLE"/>
   </category>

   <category name="org.apache.sshd" additivity="false">
	<priority value="WARN"/>
	<appender-ref ref="CONSOLE"/>
   </category>

   <category name="org.apache.commons.httpclient" additivity="false">
        <priority value="WARN" />
        <appender-ref ref="CONSOLE" />
   </category>

   <category name="org.springframework.ldap" additivity="false">
        <priority value="WARN" />
        <appender-ref ref="CONSOLE" />
   </category>

   <!-- ======================= -->
   <!-- Setup the Root category -->
   <!-- ======================= -->

   <root>
      <!--
         Set the root logger priority via a system property. Note this is parsed by log4j,
         so the full JBoss system property format is not supported; e.g.
         setting a default via ${jboss.server.log.threshold:WARN} will not work.
       -->
      <priority value="${jboss.server.log.threshold}"/>
      <appender-ref ref="CONSOLE"/>
   </root>


</log4j:configuration>
