<?xml version="1.0" encoding="UTF-8"?>

<module xmlns="urn:jboss:module:1.1" name="org.ovirt.engine.core.tools">

  <resources>
    <resource-root path="tools.jar"/>
  </resources>

  <dependencies>
    <module name="javax.api"/>
    <module name="javax.mail.api"/>
    <module name="org.apache.commons.collections"/>
    <module name="org.apache.commons.configuration"/>
    <module name="org.apache.commons.lang"/>
    <module name="org.ovirt.engine.core.common"/>
    <module name="org.ovirt.engine.core.compat"/>
    <module name="org.ovirt.engine.core.utils"/>
    <module name="org.ovirt.engine.core.uutils"/>
    <module name="org.postgresql"/>
    <module name="org.slf4j"/>
    <module name="org.snmp4j"/>
    <module name="sun.jdk"/>
    <module name="com.fasterxml.jackson.core.jackson-core"/>
    <module name="com.fasterxml.jackson.core.jackson-databind"/>
  </dependencies>

</module>
