<?xml version="1.0" encoding="UTF-8"?>

<module xmlns="urn:jboss:module:1.0" name="org.ovirt.engine.core.compat">

   <resources>
     <resource-root path="compat.jar"/>
   </resources>

   <dependencies>
      <module name="javax.api"/>
      <module name="org.apache.commons.logging"/>
      <module name="org.ovirt.engine.core.dependencies"/>
   </dependencies>

</module>
