<?xml version="1.0"?>
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.2//EN" "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">
<module name="Checker">
  <module name="NewlineAtEndOfFile">
    <property name="lineSeparator" value="lf"/>
  </module>
  <module name="FileTabCharacter">
    <property name="eachLine" value="true"/>
  </module>
  <module name="RegexpSingleline">
    <!-- \s matches whitespace character, $ matches end of line. -->
    <property name="format" value="\s+$"/>
    <property name="message" value="Line has trailing spaces."/>
  </module>
  <module name="TreeWalker">
    <property name="cacheFile" value="${checkstyle.cache.file}"/>
    <module name="EmptyStatement"/>
    <module name="RedundantImport"/>
    <module name="UnusedImports"/>
    <module name="AvoidStarImport"/>
    <module name="UpperEll"/>
    <module name="EqualsHashCode"/>
    <module name="UncommentedMain"/>
    <module name="LeftCurly"/>
    <module name="NoWhitespaceBefore">
      <property name="tokens" value="SEMI"/>
    </module>
    <module name="WhitespaceAfter">
          <property name="tokens" value="COMMA"/>
    </module>
  </module>
</module>
