<?xml version="1.0" encoding="UTF-8"?>

<module xmlns="urn:jboss:module:1.1" name="org.springframework">

  <resources>
    <resource-root path="spring-aop.jar"/>
    <resource-root path="spring-beans.jar"/>
    <resource-root path="spring-context.jar"/>
    <resource-root path="spring-core.jar"/>
    <resource-root path="spring-expression.jar"/>
    <resource-root path="spring-instrument.jar"/>
    <resource-root path="spring-jdbc.jar"/>
    <resource-root path="spring-tx.jar"/>
  </resources>

  <dependencies>
    <module name="javax.api"/>
    <module name="org.apache.commons.lang"/>
    <module name="org.apache.commons.logging"/>
    <module name="org.aopalliance"/>
    <module name="sun.jdk"/>
  </dependencies>

</module>
