<web-app xmlns="http://java.sun.com/xml/ns/javaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
   version="2.5">

        <!-- Name the application -->
        <display-name>oVirt Registration WebApp</display-name>
        <description>oVirt Registration WebApp</description>

        <!-- Set timeout to 120 minutes -->
        <session-config>
                <session-timeout>120</session-timeout>
        </session-config>

		<servlet>
			<servlet-name>RegisterServlet</servlet-name>
			<servlet-class>org.ovirt.engine.core.register.RegisterServlet</servlet-class>
		</servlet>
		<servlet>
			<servlet-name>HealthStatus</servlet-name>
			<servlet-class>org.ovirt.engine.core.status.HealthStatus</servlet-class>
		</servlet>
		<servlet>
			<servlet-name>ReportsRedirectServlet</servlet-name>
			<servlet-class>org.ovirt.engine.core.redirect.ReportsRedirectServlet</servlet-class>
		</servlet>
		<servlet>
			<servlet-name>ValidateSession</servlet-name>
			<servlet-class>org.ovirt.engine.core.validate.ValidateSession</servlet-class>
		</servlet>

		<!-- Access the new way -->
	    <servlet-mapping>
	      <servlet-name>RegisterServlet</servlet-name>
	      <url-pattern>/register</url-pattern>
	    </servlet-mapping>
	    <!-- Here for backward compatibility -->
	    <servlet-mapping>
	      <servlet-name>RegisterServlet</servlet-name>
	      <url-pattern>/VdsAutoRegistration.aspx</url-pattern>
	    </servlet-mapping>

		<!-- Access the new way -->
	    <servlet-mapping>
	      <servlet-name>HealthStatus</servlet-name>
	      <url-pattern>/HealthStatus/*</url-pattern>
	      <!-- Backward compatibility -->
	      <url-pattern>/HealthStatus.aspx</url-pattern>
	    </servlet-mapping>
	    <servlet-mapping>
	      <servlet-name>ReportsRedirectServlet</servlet-name>
	      <url-pattern>/ReportsRedirectServlet</url-pattern>
	    </servlet-mapping>
	    <servlet-mapping>
	      <servlet-name>ValidateSession</servlet-name>
	      <url-pattern>/ValidateSession</url-pattern>
	    </servlet-mapping>

        <!-- Define, in order of preference, which file to show when no filename is defined in the path -->
        <!-- eg: when user goes to http://yoursite.com/ or http://yoursite.com/somefolder -->
        <!-- Defaults are provided in the server-wide web.xml file, such as index.jsp, index.htm -->
        <!-- Note: using this tag overrides the defaults, so don't forget to add them here -->
        <welcome-file-list>
                <!-- Use index.swf if present, or splash.jsp, otherwise just look for the normal defaults -->
                <welcome-file>index.swf</welcome-file>
                <welcome-file>splash.jsp</welcome-file>
                <welcome-file>index.html</welcome-file>
                <welcome-file>index.htm</welcome-file>
                <welcome-file>index.jsp</welcome-file>
        </welcome-file-list>

<mime-mapping>

	<extension>xaml</extension>
    <mime-type>application/xaml+xml</mime-type>

</mime-mapping>

<mime-mapping>
	<extension>xap</extension>
    <mime-type>application/x-silverlight-app</mime-type>
</mime-mapping>

<mime-mapping>
	<extension>xbap</extension>
    <mime-type>application/x-ms-xbap</mime-type>
</mime-mapping>

<mime-mapping>
	<extension>crt</extension>
	<mime-type>application/x-x509-ca-cert</mime-type>
</mime-mapping>

  <welcome-file-list>
	<welcome-file>Default.htm</welcome-file>
</welcome-file-list>


</web-app>
