<?xml version="1.0" encoding="UTF-8"?>

<!--
Copyright (c) 2014 Red Hat, Inc.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

<module xmlns="urn:jboss:module:1.1" name="org.ovirt.engine.api.restapi-jaxrs">

  <resources>
    <resource-root path="restapi-jaxrs.jar"/>
  </resources>

  <dependencies>
    <module name="javax.api"/>
    <module name="javax.ejb.api"/>
    <module name="javax.servlet.api"/>
    <module name="javax.ws.rs.api"/>
    <module name="javax.xml.bind.api"/>
    <module name="org.apache.commons.codec"/>
    <module name="org.apache.commons.collections"/>
    <module name="org.apache.commons.lang"/>
    <module name="org.apache.xmlgraphics.fop"/>
    <module name="org.codehaus.jackson.jackson-core-asl"/>
    <module name="org.codehaus.jackson.jackson-jaxrs"/>
    <module name="org.codehaus.jackson.jackson-mapper-asl"/>
    <module name="org.codehaus.jackson.jackson-xc"/>
    <module name="org.ebaysf.web.cors-filter"/>
    <module name="org.jboss.resteasy.resteasy-jaxrs"/>
    <module name="org.ovirt.engine.api.interface-common-jaxrs"/>
    <module name="org.ovirt.engine.api.restapi-definition"/>
    <module name="org.ovirt.engine.api.restapi-types"/>
    <module name="org.ovirt.engine.core.branding"/>
    <module name="org.ovirt.engine.core.common"/>
    <module name="org.ovirt.engine.core.compat"/>
    <module name="org.ovirt.engine.core.utils"/>
    <module name="org.ovirt.engine.core.uutils"/>
    <module name="org.slf4j"/>

    <!-- This dependency is needed to workaround the following WildFly issue:

           Xalan Linkage error : TransformerConfigurationException
           https://issues.jboss.org/browse/WFCORE-519

         Without this the FOP message body writer used to generate PDF
         documents won't work correctly. -->
    <module name="org.apache.xalan"/>

  </dependencies>

</module>
