<?xml version="1.0" encoding="UTF-8"?>

<module xmlns="urn:jboss:module:1.1" name="org.ovirt.engine.extensions.builtin">

  <resources>
    <resource-root path="builtin.jar"/>
  </resources>

  <dependencies>
    <module name="javax.api"/>
    <module name="javax.servlet.api"/>
    <module name="org.apache.commons.lang"/>
    <module name="org.apache.commons.logging"/>
    <module name="org.apache.log4j"/>
    <module name="org.ovirt.engine.api.ovirt-engine-extensions-api"/>
    <module name="org.ovirt.engine.core.aaa"/>
    <module name="org.ovirt.engine.core.common"/>
    <module name="org.ovirt.engine.core.compat"/>
    <module name="org.ovirt.engine.core.utils"/>
    <module name="org.ovirt.engine.core.uutils"/>
    <module name="org.slf4j"/>
    <module name="org.springframework.ldap"/>
    <module name="sun.jdk"/>

  </dependencies>

</module>
