<?xml version="1.0" encoding="UTF-8"?>

<module xmlns="urn:jboss:module:1.1" name="org.ovirt.engine.core.uutils">

  <resources>
    <resource-root path="uutils.jar"/>
  </resources>

  <dependencies>
    <module name="javax.api"/>
    <module name="javax.servlet.api"/>
    <module name="org.apache.commons.codec"/>
    <module name="org.apache.commons.lang"/>
    <module name="org.apache.httpcomponents"/>
    <module name="org.apache.sshd"/>
    <module name="org.slf4j"/>
    <module name="com.fasterxml.jackson.core.jackson-annotations"/>
    <module name="com.fasterxml.jackson.core.jackson-core"/>
    <module name="com.fasterxml.jackson.core.jackson-databind"/>
  </dependencies>

</module>
