<?xml version="1.0" encoding="UTF-8"?>

<!-- This module contains all the dependencies that are used by serveral
     engine components and that are not available as builtin modules in
     JBoss 7: -->

<module xmlns="urn:jboss:module:1.0" name="org.ovirt.engine.core.dependencies">
   <resources>
     <resource-root path="commons-compress.jar"/>
     <resource-root path="commons-httpclient.jar"/>
     <resource-root path="mina-core.jar"/>
     <resource-root path="otopi.jar"/>
     <resource-root path="ovirt-host-deploy.jar"/>
     <resource-root path="quartz.jar"/>
     <resource-root path="slf4j-api.jar"/>
     <resource-root path="spring-aop.jar"/>
     <resource-root path="spring-asm.jar"/>
     <resource-root path="spring-beans.jar"/>
     <resource-root path="spring-context.jar"/>
     <resource-root path="spring-core.jar"/>
     <resource-root path="spring-expression.jar"/>
     <resource-root path="spring-instrument.jar"/>
     <resource-root path="spring-jdbc.jar"/>
     <resource-root path="spring-ldap-core.jar"/>
     <resource-root path="spring-tx.jar"/>
     <resource-root path="sshd-core.jar"/>
     <resource-root path="ws-commons-util.jar"/>
     <resource-root path="xmlrpc-client.jar"/>
     <resource-root path="xmlrpc-common.jar"/>
   </resources>

   <dependencies>
      <module name="javax.api"/>
      <module name="javax.transaction.api"/>
      <module name="org.apache.commons.codec"/>
      <module name="org.apache.commons.lang"/>
      <module name="org.apache.commons.logging"/>
      <module name="org.slf4j.impl"/>
      <module name="sun.jdk"/>
   </dependencies>

</module>
