/***************************************
Alerts
****************************************/

.ovirt-alert-main {
  width: 768px;
  margin-bottom: 0;
  position: absolute;
  top: 25px;
  left: calc(50% - 384px);
  z-index: 1030;
}

.ovirt-alert-main-message {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ovirt-alert-main-danger {
  color: #A94442;
  background-color: #F2DEDE;
}

.ovirt-alert-main-warning {
  color: #8A6D3B;
  background-color: #FCF8E3;
}

.ovirt-alert-main-success {
  color: #3C763D;
  background-color: #DFF0D8;
}

.ovirt-alert-main-info {
  color: #555555;
  background-color: #F0F0F0;
}
