/* classes used to brand (logos, colors, etc) webadmin */

.obrand_webadminMastheadLogo {
    background-image: url(images/ovirt_webadmin_masthead_logo.png);
    width: 272px;
    height: 16px;
    position: relative;
    top: 6px;
    border: 0px;
    display: inline !important;
    background-size: contain;
    background-repeat: no-repeat;
}

.obrand_webadminMastheadBackground {
    background-image: url(images/ovirt_webadmin_masthead_bg.png);
    background-size: cover;
}

.obrand_webadminAboutBackground {
    width: 565px;
    height: 355px;
    background-image: url(images/ovirt_webadmin_about_bg.png);
}

.obrand_webadminAboutApplicationLogo {
    background-image: url(images/ovirt_logo.png);
    width: 80px;
    height: 30px;
    border: 0px;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    float: right;
    position: relative;
    top: 140px;
}
