/***************************************************
oVirt base common css file
landing page (welcome), login (sso), docs, 404, etc
****************************************************/
.pf-c-page body {
    background-color: #151515;
    background-image: none;
}

.pf-c-page .ovirt-container {
    font-size: 13px;
}

.pf-c-page .ovirt-container .pf-c-login{
    position: absolute;
    width: 100%;
    height: 100%;
}

.pf-c-page .container {
    width: 100%;
}

.pf-c-page label.nowrap {
    white-space: nowrap;
}

/* left nav */
.nav-pf-vertical, .nav-pf-secondary-nav, .nav-pf-tertiary-nav {
    top: var(--ovirt-masthead-height);
}

/* masthead action icons */
.navbar-pf-vertical .nav {

    .nav-item-iconic-skeleton {
        height: 58px; // matches PF ".navbar-pf-vertical .nav .nav-item-iconic { max-height }"
    }

    .drawer-pf-trigger .drawer-pf-trigger-icon {
        border-left: 0;
        border-right: 0;
    }

    .nav-item-iconic .badge {
        margin-left: 5px;
        margin-right: 0;
    }
}

.container-pad {
    padding-left: 100px !important;
    padding-top: 50px !important;
    padding-bottom: 60px !important
}

#welcome-section {
    position: absolute;
    top: -76px;
    left: 100px;
}

#welcome-section-login {
    top: -50px;
    left: 100px;
}

#welcome-band-top {
    margin-top: 15px;
}

#welcome-title {
    position: relative;
    top: -4px;
    font-size: 14px;
    font-weight: 400;
    float: left;
}

#welcome-version-text {
    position: relative;
    top: 20px;
    margin-left: 30px;
    float: left;
}

#welcome-app-title {
    position: relative;
    top: -3px;
    left: 10px;
    float: left;
    font-size: 18px;
    font-weight: 600;
}

@media (max-width: 768px) {
    #welcome-app-title {
        display: none;
    }
}

#welcome-app-title .pipe {
    color: #bbb;
    font-size: 18px;
    font-weight: 100;
    padding-right: 8px;
}
