/***************************************************
oVirt base common css file
landing page (welcome), login (sso), docs, 404, etc
****************************************************/

.pf-c-page body {
    background-color: #151515;
    background-image: none;
}

.pf-c-page .ovirt-container {
    font-size: 13px;
}

.pf-c-page .ovirt-container .pf-c-login{
    position: absolute
}

.pf-c-page .container {
    width: 100%;
}

.pf-c-page label.nowrap {
    white-space: nowrap;
}

.nav-pf-vertical, .nav-pf-secondary-nav, .nav-pf-tertiary-nav {
    /* 60 is the current PatternFly default. That assumes a navbar-pf-vertical height of
       2px, but we use 4px: 60px + (4px - 2px) = 62px
    */
    top: 62px;
}

.navbar-pf-vertical .nav .drawer-pf-trigger .drawer-pf-trigger-icon {
    border-left: 0;
    border-right: 0;
}

.navbar-pf-vertical .nav .drawer-pf-trigger .drawer-pf-trigger-icon .badge {
    margin-left: 0;
    margin-right: 0;
}

#HeaderView_tasks a, #event_notification_anchor {
    padding-right: 2px;
}

#event_notification_content .drawer-pf-close {
    padding-top: 5px;
}

.container-pad {
    padding-left: 100px !important;
    padding-top: 50px !important;
    padding-bottom: 60px !important
}

#welcome-section {
    position: absolute;
    top: -76px;
    left: 100px;
}

#welcome-section-login {
    top: -50px;
    left: 100px;
}

#welcome-band-top {
    margin-top: 15px;
}

#welcome-title {
    position: relative;
    top: -4px;
    font-size: 14px;
    font-weight: 400;
    float: left;
}

#welcome-version-text {
    position: relative;
    top: 20px;
    margin-left: 30px;
    float: left;
}

#welcome-app-title {
    position: relative;
    top: -3px;
    left: 10px;
    float: left;
    font-size: 18px;
    font-weight: 600;
}

@media (max-width: 768px) {
    #welcome-app-title {
        display: none;
    }
}

#welcome-app-title .pipe {
    color: #bbb;
    font-size: 18px;
    font-weight: 100;
    padding-right: 8px;
}
