/* Core GWT widget styles

TODO: comment these out and then see if they are references in the webadmin compiled js

 */
a.gwt-InlineHyperlink,a.gwt-Anchor {
    outline: none;
    text-decoration: none;
}

.gwt-PushButton {
    outline: none;
}

.engine-progress-box, .engine-progress-box-migration {
    border: 1px solid #AAAAAA;
    height: 1em;
    margin: auto;
}

.engine-progress-box {
    width: 60%;
}

.engine-progress-text {
    bottom: 1.3em;
    text-align: center;
    font-size: 0.8em;
    position: relative;
}

.gwt-ListBox {
    background-color: white;
    color: #000000;
}

.gwt-ListBox:disabled {
    background-color: #F6F6F5;
    color: #888888;
}

/* Changed glass pane z-index to match bootstrap zindex-modal-background */
.gwt-PopupPanelGlass {
    z-index: 1040;
}

/* right click menu spacing */
.gwt-MenuBar .gwt-MenuItem {
    padding: 0 10px !important;
}

.cellTableDisabledRow {
    color: #bababa;
}

.cellTableSelectedRow.cellTableDisabledRow {
    color: white;
}

.disk-storage-type-group-label,
.disk-content-type-group-label {
  margin-right: 5px;
  margin-top: 3px;
  float: left;
}

.disk-content-type-group-label {
  margin-left: 10px;
}

.disk-type-buttons-group {
  float: left;
}
