/* welcome page styles */

.label-default {
    background-color: inherit;
}

.login-link:hover, login-link:focus {
    color: #00618a;
    text-decoration: underline;
}

.login-link {
    color: #0099d3;
}

.login-error {
    color: #b94a48;
    background-color: inherit;
    border-color: #b94a48;
}

.login-message-error {
    color: #b94a48;
    background-color: inherit;
}

.welcome-section-title {
    padding-bottom: 7px;
    font-weight: 700;
    font-size: 16px;
}

.welcome-section-title.sub-title {
    padding-top: 5px;
}

.welcome-link {
    font-family: RedHatDisplay;
    line-height: 1.5;
    color: #0066CC;
    font-weight: 600;
    font-size: 16px;
}

.locale-div {
    padding-top: 40px;
    padding-left: 40px;
    width: 15%;
}

#well-error {
    color: #b94a48;
    background-color: inherit;
    border-color: #b94a48;
}

#well-error-label {
    font-size: 14px;
    color: #b94a48;
    background-color: inherit;
}

.ovirt-container .container {
    padding-left: 80px;
    width: 100%;
    clear: right;
    color: #fff;
    padding-bottom: 40px;
    position: absolute;
    top: 30%;
}

.ovirt-container select {
    color: black;
}
