<?xml version="1.0" encoding="UTF-8"?>

<web-app
  xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0">

    <listener>
        <listener-class>org.ovirt.engine.core.WelcomeContextListener</listener-class>
    </listener>

    <context-param>
        <param-name>obrandThemePath</param-name>
        <param-value>/theme</param-value>
    </context-param>
    <context-param>
        <param-name>obrandResourcePath</param-name>
        <param-value>/theme-resource</param-value>
    </context-param>
    <context-param>
        <param-name>applicationName</param-name>
        <param-value>welcome</param-value>
    </context-param>

    <!-- Branding Servlet -->
    <servlet>
        <servlet-name>BrandingServlet</servlet-name>
        <servlet-class>org.ovirt.engine.core.branding.BrandingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BrandingServlet</servlet-name>
        <url-pattern>/theme/*</url-pattern>
    </servlet-mapping>

    <!-- Branding Cascading Resource Servlet -->
    <servlet>
        <servlet-name>BrandingCascadingResourceServlet</servlet-name>
        <servlet-class>org.ovirt.engine.core.branding.BrandingCascadingResourceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BrandingCascadingResourceServlet</servlet-name>
        <url-pattern>/theme-resource/*</url-pattern>
    </servlet-mapping>

    <!-- PageNotFound Servlet -->
    <servlet>
        <servlet-name>PageNotFoundServlet</servlet-name>
        <jsp-file>/WEB-INF/404.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>PageNotFoundServlet</servlet-name>
        <url-pattern>/404.html</url-pattern>
    </servlet-mapping>

    <!-- MethodNotAllowedServlet -->
    <servlet>
        <servlet-name>MethodNotAllowedServlet</servlet-name>
        <jsp-file>/WEB-INF/405.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>MethodNotAllowedServlet</servlet-name>
        <url-pattern>/405.html</url-pattern>
    </servlet-mapping>

    <!-- Welcome page -->
    <servlet>
        <servlet-name>WelcomeServlet</servlet-name>
        <servlet-class>org.ovirt.engine.core.WelcomeServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>WelcomeServlet</servlet-name>
        <url-pattern>/index.html</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>OAuthCallbackServlet</servlet-name>
        <servlet-class>org.ovirt.engine.core.OAuthCallbackServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OAuthCallbackServlet</servlet-name>
        <url-pattern>/oauth2-callback</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>org.ovirt.engine.core.LogoutServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>org.ovirt.engine.core.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SwitchUserServlet</servlet-name>
        <servlet-class>org.ovirt.engine.core.SwitchUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SwitchUserServlet</servlet-name>
        <url-pattern>/switch-user</url-pattern>
    </servlet-mapping>

    <!-- Filters -->
    <!-- Locale Filter, determines the user locale -->
    <filter>
        <filter-name>LocaleFilter</filter-name>
        <filter-class>org.ovirt.engine.core.utils.servlet.LocaleFilter</filter-class>
    </filter>
    <!-- Branding Filter, passes branding information to jsps -->
    <filter>
        <filter-name>BrandingFilter</filter-name>
        <filter-class>org.ovirt.engine.core.branding.BrandingFilter</filter-class>
    </filter>

    <!-- Header filter to automatically add some headers to each response -->
    <filter>
        <filter-name>HeaderFilter</filter-name>
        <filter-class>org.ovirt.engine.core.utils.servlet.HeaderFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>HeaderFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>LocaleFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>

    <filter-mapping>
        <filter-name>BrandingFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>

    <filter>
        <filter-name>CachingFilter</filter-name>
        <filter-class>org.ovirt.engine.core.utils.servlet.CachingFilter</filter-class>

        <!-- Resources intended to be cached forever on the client: -->
        <!-- * all brand assets: **/theme/*, **/theme-resource/* -->
        <!-- * CSS, PNG/GIF/favicon, JS, TTF, WOFF, WOFF2 image files (usually served from brands but could be served elsewhere) -->
        <init-param>
            <param-name>cache</param-name>
            <param-value>.*\/theme(-resource)?\/.*|.*\.(css|gif|png|favicon|js|ttf|woff|woff2)(\?.*)?</param-value>
        </init-param>

        <!-- Resources which always need to be checked for changes: -->
        <init-param>
            <param-name>no-cache</param-name>
            <param-value></param-value>
        </init-param>

        <!-- Resources not intended to be cached on the client at all: -->
        <init-param>
            <param-name>no-store</param-name>
            <param-value></param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>CachingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- Go to the index when a page is not found (preserving the 404 status code): -->
    <error-page>
        <error-code>404</error-code>
        <location>/404.html</location>
    </error-page>

    <!-- Go to the index when method is not allowed (preserving the 405 status code): -->
    <error-page>
        <error-code>405</error-code>
        <location>/405.html</location>
    </error-page>

    <!-- This is handled by the welcome servlet -->
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>everything</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <session-config>
        <cookie-config>
            <http-only>true</http-only>
            <secure>false</secure>
        </cookie-config>
    </session-config>

</web-app>
