<?xml version="1.0" encoding="UTF-8"?>

<module xmlns="urn:jboss:module:1.1" name="com.ongres.scram.client">

    <resources>
        <resource-root path="ongres-scram-client.jar"/>
    </resources>

    <dependencies>
        <module name="javax.api"/>
        <module name="javax.transaction.api"/>
        <module name="com.ongres.scram.common" export="true"/>
    </dependencies>

</module> 
