- name: Check network name in oVirt
  hosts: localhost
  roles:
    - ovirt-to-vdsm-network

- name: Install and configure oVirt provider OVN driver
  hosts: ovirt_cluster_{{cluster_name}}

  roles:
    - ovirt-provider-ovn-driver
    - role: ovirt-provider-ovn-driver
      ovn_tunneling_interface: "{{hostvars['localhost']['vdsm_network_name']['stdout']}}"
