<?xml version="1.0" encoding="UTF-8"?>

<module xmlns="urn:jboss:module:1.1" name="org.ovirt.engine.core.utils">

  <resources>
    <resource-root path="utils.jar"/>
  </resources>

  <dependencies>
    <module name="javax.api"/>
    <module name="javax.activation.api"/>
    <module name="javax.ejb.api"/>
    <module name="javax.enterprise.api"/>
    <module name="javax.enterprise.concurrent.api"/>
    <module name="javax.servlet.api"/>
    <module name="javax.servlet.jstl.api"/>
    <module name="javax.transaction.api"/>
    <module name="org.apache.commons.beanutils"/>
    <module name="org.apache.commons.codec"/>
    <module name="org.apache.commons.collections"/>
    <module name="org.apache.commons.compress"/>
    <module name="org.apache.commons.lang"/>
    <module name="org.ebaysf.web.cors-filter"/>
    <module name="org.infinispan"/>
    <module name="org.ovirt.engine.api.ovirt-engine-extensions-api"/>
    <module name="org.ovirt.engine.core.common"/>
    <module name="org.ovirt.engine.core.compat"/>
    <module name="org.ovirt.engine.core.dal"/>
    <module name="org.ovirt.engine.core.extensions-manager"/>
    <module name="org.ovirt.engine.core.uutils"/>
    <module name="org.postgresql"/>
    <module name="org.springframework"/>
    <module name="org.slf4j"/>
    <module name="com.fasterxml.jackson.core.jackson-annotations"/>
    <module name="com.fasterxml.jackson.core.jackson-core"/>
    <module name="com.fasterxml.jackson.core.jackson-databind"/>
  </dependencies>

</module>
