<?xml version="1.0" encoding="UTF-8"?>

<module xmlns="urn:jboss:module:1.1" name="org.ovirt.vdsm-jsonrpc-java">

  <resources>
    <resource-root path="vdsm-jsonrpc-java-client.jar"/>
  </resources>

  <dependencies>
    <module name="javax.api"/>
    <module name="com.fasterxml.jackson.core.jackson-annotations"/>
    <module name="com.fasterxml.jackson.core.jackson-core"/>
    <module name="com.fasterxml.jackson.core.jackson-databind"/>
    <module name="org.apache.commons.lang3"/>
    <module name="org.apache.commons.logging"/>
    <module name="org.slf4j"/>
  </dependencies>

</module>
