.cellTableWidget {
	color: white;
}

.cellTableFirstColumn {
	padding: 2px 15px;
}

.cellTableLastColumn {
	
}

.cellTableFooter {
}

.cellTableHeader {
	display: none;
}

.cellTableCell {
	padding-left: 5px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	height: 26px !important;
	line-height: 26px !important;
	vertical-align: middle;
	border-top: 0px;
	border-bottom: 1px solid #8D8D8D;
	border-right: 0px;
	border-left: 0px;
	white-space: nowrap;
	width: 100%;
}

.cellTableEvenRow {
	background-color: #666666;
}

.cellTableOddRow {
	background-color: #666666;
}

.cellTableHoveredRow {
	background-color: #666666;
}

.cellTableSelectedRow {
	background-color: #666666;
}

@sprite .cellTableLoading {
	gwt-image: 'cellTableLoading';
	margin: 3px;
}