.gwt-SliderBar-shell {
	height: 34px;
	width: 50%;
}

.gwt-SliderBar-shell .gwt-SliderBar-line {
	border: 1px solid black;
	background-color: white;
	height: 4px;
	width: 95%;
	top: 18px;
	overflow: hidden;
}

.gwt-SliderBar-shell .gwt-SliderBar-line-disabled {
	border: 1px solid gray;
}

.gwt-SliderBar-shell .gwt-SliderBar-knob {
	top: 10px;
	width: 11px;
	height: 21px;
	z-index: 1;
	cursor: pointer;
}

.gwt-SliderBar-shell .gwt-SliderBar-tick {
	top: 12px;
	width: 1px;
	height: 6px;
	background: black;
	overflow: hidden;
}

.gwt-SliderBar-shell .gwt-SliderBar-tick-disabled {
	background: gray;
}

.gwt-SliderBar-shell .gwt-SliderBar-label {
	top: 2px;
	font-size: 8px;
	cursor: default;
}

.gwt-SliderBar-shell-focused {
	
}

.gwt-SliderBar-shell .gwt-SliderBar-line-sliding {
	cursor: pointer;
}

.gwt-SliderBar-minrange-label,
.gwt-SliderBar-maxrange-label {
	font-size: 9px;
}

.gwt-SliderBar-minrange-label {
	width: 10px;
	text-align: right;
}
