.gwt-SliderBar-shell {
	height: 34pt;
	width: 50%;
}

.gwt-SliderBar-shell .gwt-SliderBar-line {
	border: 1px solid black;
	background-color: white;
	height: 4px;
	width: 95%;
	top: 22pt;
	overflow: hidden;
}

.gwt-SliderBar-shell .gwt-SliderBar-line-disabled {
	border: 1px solid gray;
}

.gwt-SliderBar-shell .gwt-SliderBar-knob {
	top: 14pt;
	width: 11px;
	height: 21px;
	z-index: 1;
	cursor: pointer;
}

.gwt-SliderBar-shell .gwt-SliderBar-tick {
	top: 16pt;
	width: 1px;
	height: 6pt;
	background: black;
	overflow: hidden;
}

.gwt-SliderBar-shell .gwt-SliderBar-tick-disabled {
	background: gray;
}

.gwt-SliderBar-shell .gwt-SliderBar-label {
	top: 2pt;
	font-size: 8pt;
	cursor: default;
}

.gwt-SliderBar-shell-focused {
	
}

.gwt-SliderBar-shell .gwt-SliderBar-line-sliding {
	cursor: pointer;
}