.cellTreeWidget {

}

.cellTreeEmptyMessage {
    padding-left: 16px;
    font-style: italic;
}

.cellTreeItem {
    padding-bottom: 1px;
    padding-top: 3px;
    cursor: pointer;
    zoom: 1;
    height: 26px;
    left: 10px;
}

.cellTreeItemImage {
    position: relative;
    top: -2px;
}

.cellTreeItemImageValue {
    zoom: 1;
}

.cellTreeItemValue {
    padding-left: 3px;
    padding-right: 3px;
    outline: none;
    bottom: 1px;
    position: relative;
}

.cellTreeOpenItem {

}

.cellTreeTopItem {
    font-weight: bold;
    color: #4b4a4a;
    margin-top: 5px;
    padding: 3px 13px 3px 2px !important;
}

.cellTreeTopItemImage {

}

.cellTreeTopItemImageValue {
    border-bottom: 1px none #6f7277;
    padding-bottom: 1px;
}

.cellTreeKeyboardSelectedItem {
    background-color: #eee;
    outline: none;
}

@sprite .cellTreeSelectedItem {
    gwt-image: 'cellTreeSelectedBackground';
    background-color: #628cd5;
    background: #C3D0E0;
    color: white;
    height: auto;
    overflow: visible;
    height: 26px;
}

.cellTreeShowMoreButton {
    padding-left: 16px;
    outline: none;
}
