<?xml version="1.0" encoding="UTF-8"?>

<module xmlns="urn:jboss:module:1.1" name="org.ovirt.engine.core.common">

  <resources>
    <resource-root path="common.jar"/>
  </resources>

  <dependencies>
    <module name="javax.api"/>
    <module name="javax.servlet.api"/>
    <module name="javax.validation.api"/>
    <module name="javax.annotation.api"/>
    <module name="javax.ejb.api"/>
    <module name="javax.enterprise.api"/>
    <module name="javax.inject.api"/>
    <module name="javax.interceptor.api"/>
    <module name="org.hibernate.validator"/>
    <module name="org.javassist"/>
    <module name="org.jboss.weld.core"/>
    <module name="org.jboss.weld.spi"/>
    <module name="org.ovirt.engine.core.compat"/>
    <module name="org.slf4j"/>
    <module name="com.fasterxml.jackson.core.jackson-core"/>
    <module name="com.fasterxml.jackson.core.jackson-annotations"/>
    <module name="com.fasterxml.jackson.core.jackson-databind"/>
    <module name="com.fasterxml.jackson.jaxrs.jackson-jaxrs-json-provider"/>
  </dependencies>

</module>
